body{
    font-size: 20px;
    font-family: 'comic sans ms';
}
.footer-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #BF9270;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}